{% extends 'base.html.twig' %}

{% block title %} Categoría {% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Categorías</h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                {% if categoria.foto == "" %}
                    <img class="img-fluid" src="http://placehold.it/750x500" alt="">
                {% else %}
                    <img class="img-fluid" src="{{asset( path_img ~ categoria.foto )}}" alt="">
                {% endif %}
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Descripción de la categoría</h3>
                <p> {{ categoria.nombre }} </p>
                <p> {{ categoria.descripcion }} </p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        {#<h3 class="my-4">Otros Platillos</h3>

        <div class="row">
            {% for platillo in listaPlatillos  %}
                {% if platillo.id != id %}
                    <div class="col-md-3 col-sm-6 mb-4">
                        <a href="#">
                            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                        </a>
                        <p> {{ platillo.nombre }} </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>#}
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}